#output {
	position: absolute;
	top: 100px;
	left: 8px;
	bottom: 8px;
	right: 8px;

	border: 2px solid black;
	overflow: auto;
}

pre {
	font-face: monospace;
	margin: 0 0 0 0;
}

a.switch {
	text-decoration: none;
	border: #cecece solid 1px;
	padding: 2px;
	color: black;
	border-radius: 3px;
	background-color: #f3f3f3;
}